body {
  font-family: sans-serif;
  background: #222;
  color: #eee;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hidden { display: none; }
#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #333;
}
#topbar, #sendbar {
  display: flex;
  padding: 5px;
  background: #111;
}
input, button, select {
  margin-right: 5px;
  padding: 5px;
}
button { cursor: pointer; }
